.modal {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: flex;
    height: 100vh;
    left: 0;
    overflow: auto;
    padding: 15px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 100vw;
    z-index: 1000;
}

.modal:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    background: #fff;
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, .25);
    display: inline-block;
    margin: auto;
    min-width: 200px;
    padding: 40px 20px 30px;
    position: relative;
    text-align: left;
    white-space: normal;
}

.modal-dialog__btn-close {
    border: 0;
    cursor: pointer;
    font-size: 30px;
    height: 24px;
    line-height: 24px;
    margin: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
}

.modal-dialog__btn-container {
    margin: 10px -5px 0;
    text-align: center;
}

.modal-dialog__btn {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin: 10px 5px 0;
    padding: 5px 8px;
}
