.update-task {
    border: 0;
    margin: -4px;
    padding: 0 0 4px;
    text-align: center;
}

.update-task__input {
    border: 1px solid #ccc;
    font: 14px Arial, sans-serif;
    margin-bottom: 3px;
    resize: none;
    padding: 3px;
    width: 100%;
}
