.task-options {
    margin: 10px -5px;
}

.task-options__btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 2px 5px;
    text-decoration: underline;
}

.dialog-text {
    color: #333;
    font-size: 16px;
}

.update-task {
    border: 0;
    margin: 0 -4px;
    padding: 0 0 4px;
    position: relative;
    text-align: center;
    top: -4px;
}

.update-task__input {
    border: 1px solid #ccc;
    font: 14px Arial, sans-serif;
    margin-bottom: 3px;
    resize: none;
    padding: 3px;
    width: 100%;
}
